html {
    height: 100%;
    width: 100%;
  }
  
  h2{
    color:maroon;
    text-align: center;
    font-size:xx-large;
    font-style: bold;
    font-style:italic;
    letter-spacing: 0.2em;
    text-shadow: 1px 1px black;
  }
  h4{
    font-style: bold;
    font-style:italic;
    color:blue;
  } */
  
  h5{
    letter-spacing: 0.2em;
    font-style:italic;
    margin-top: 15px;
    padding-top: 15px;     
    padding-right: 15px;
    padding-bottom: 15px;
    font-family: Georgia, Helvetica, sans-serif;
  }
  